body {
    background-color: #F6E5DC;
    font-family: Tahoma;
}

#baner {
    background-color: #2F180C;
    text-align: center;
    color: white;
    height: 60px;
}

#lewy {
    width: 60%;
    float: left;
}

#prawy {
    font-size: 200%;
    padding: 50px;
    float: left;
}

#dolny {
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
    clear: both;
}

#stopka {
    background-color: #2F180C;
    color: white;
    height: 60px;
    text-align: center;
    line-height: 60px;
    position: relative;
}

#obraz {
    height: 400px;
}

ul {
    list-style-type: circle;
}
